.spinner-container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 80%;
    text-align: center;
    overflow: hidden;
}

.item-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 600px;
    height: 150px;
    margin: 0 auto;
    border: 2px solid #FFA500;
    transition: all 0.5s ease-out;
    overflow: hidden;
}

.items {
    display: flex;
    align-items: center;
    width: max-content;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 150px;
    height: 150px;
    border: 1px solid #FFA500;
    font-size: 14px;
    color: white;
    text-align: center;
    transition: all 0.2s ease-in-out;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.item.selected {
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.8);
    transform: scale(1.2);
}

.item-name {
    color: #fff;
    font-weight: bold;
}

.item-wrapper::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent red transparent;
    z-index: 9999;
}

.item-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: red transparent transparent transparent;
    z-index: 9999;
}

.spin-button {
    margin-top: 20px;
    padding: 20px 40px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    background-color: #FFA500;
    border: 2px solid #FFA500;
    border-radius: 5px;
    cursor: pointer;
}

.spin-button:hover {
    background-color: #fff;
    color: #FFA500;

    cursor: url("../../imgs/assets/pointer.png"), pointer;
}

.spin-button:disabled {
    background-color: #ccc;
    color: #fff;
    cursor: url("../../imgs/assets/cursor.png"), not-allowed;
}

.selected-animal {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #FFA500;
}

.question {
    margin-top: 10px;
    font-size: 16px;
    color: #fff;
}

.answer-button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #FFA500;
    color: #FFF;
    border: 2px solid #FFA500;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.answer-button:hover {
    background-color: #FFF;
    color: #FFA500;

    cursor: url("../../imgs/assets/pointer.png"), pointer;
}

.answer-button:disabled {
    background-color: #ccc;
    color: #fff;
    cursor: url("../../imgs/assets/cursor.png"), not-allowed;
}

.feedback-message {
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #FFA500;
}

.points {
    margin: 10px 0;
    font-size: 24px;
    font-weight: bold;
    color: #FFA500;
    text-shadow: 3px 2px 2px rgb(133, 53, 0);
}