.spinner-container
{
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.items
{
    position: relative;
    width: 600px;
    height: 150px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid #000;
    transition: all 0.5s ease-out;
}

.items::before
{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-style: solid;
    border-width: 0 15px 15px 15px;
    border-color: transparent transparent #000 transparent;
    z-index: 9999;
}

.items::after
{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-style: solid;
    border-width: 15px 15px 0 15px;
    border-color: #000 transparent transparent transparent;
    z-index: 9999;
}

.spin-button
{
    margin-top: 20px;
    padding: 20px 40px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    border: 2px solid #000;
    border-radius: 5px;
    cursor: pointer;
}

.spin-button:hover
{
    background-color: #fff;
    color: #000;
}