.pregame-screen-container
{
    position: absolute;
    background-color: white;
    width: 85%;
    height: 87%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15%;
    filter: drop-shadow(0px 0px 10px black);
    box-shadow: inset rgba(0, 0, 0, 0.5) -3px -3px 5px,
    inset rgba(255, 255, 255, 0.8) 3px 3px 5px,
    rgba(0, 0, 0, 0.7) 3px 3px 5px -3px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.pregame-screen-button1 {
    margin-top: 2px;
    width: 500px;
    height: 120px;
    border-radius: 15px;
    background-image: url('../../imgs/assets/animalsanddogs.jpg');
    background-size: cover;
    background-position: center 80%;
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

.pregame-screen-button2 {
    margin-top: 2px;
    width: 500px;
    height: 120px;
    border-radius: 15px;
    background-image: url('../../imgs/assets/birdsandfish.jpg');
    background-size: cover;
    background-position: center 60%;
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

.pregame-screen-button3 {
    margin-top: 2px;
    width: 500px;
    height: 120px;
    border-radius: 15px;
    background-image: url('../../imgs/assets/butterfliesandinsects.jpg');
    background-size: cover;
    background-position: center 80%;
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

.pregame-screen-button4 {
    margin-top: 2px;
    width: 500px;
    height: 120px;
    border-radius: 15px;
    background-image: url('../../imgs/assets/flowersandtrees.jpg');
    background-size: cover;
    background-position: center 70%;
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

.pregame-screen-button1:hover {
    cursor: url("../../imgs/assets/pointer.png"), pointer;
    scale: 0.95;
}

.pregame-screen-button2:hover {
    cursor: url("../../imgs/assets/pointer.png"), pointer;
    scale: 0.95;
}

.pregame-screen-button3:hover {
    cursor: url("../../imgs/assets/pointer.png"), pointer;
    scale: 0.95;
}

.pregame-screen-button4:hover {
    cursor: url("../../imgs/assets/pointer.png"), pointer;
    scale: 0.95;
}