.game-screen-back-button {
    box-shadow: inset 1px 39px 16px -12px #ffbf6a;
    background-color: #ff9100;
    border-radius: 10px;
    border: 2px solid #fff5e6;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 10px 30px;
    text-decoration: none;
    text-shadow: 2px 2px 1px #744100;
    position: absolute;
    left: 1%;
    top: 1%;
}

.game-screen-back-button:hover {
    cursor: url("../../imgs/assets/pointer.png"), pointer;
    scale: 1.1
}

.game-screen-back-button:active {
    cursor: url("../../imgs/assets/pointer.png"), pointer;
    scale: 0.95
}