.main-screen-title
{
    text-align: center;
    margin-top: 7%;
    font-size: 3.6rem;
    background: linear-gradient(90deg, #00ff80, #7daaff);
    border: #00ff80;
    border-radius: 2px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    filter: drop-shadow(2px 2px 3px hsl(0, 0%, 8%));
}

.main-screen-button
{
    box-shadow: inset 1px 39px 16px -12px #9fb4f2;
    background-color: #7892c2;
    border-radius: 10px;
    border: 2px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 30px;
    padding: 30px 65px;
    text-decoration: none;
    text-shadow: 2px 2px 1px #283966;
    position: absolute;
    left: 57%;
    bottom: 50%;
}

.main-screen-button:hover
{
    background-color: #476e9e;
    position: absolute;
    transform: scale(0.95);

    cursor: url("../../imgs/assets/pointer.png"), pointer;
}

.main-screen-button:active
{
    position: absolute;
    transform: scale(0.9);
    cursor: url("../../imgs/assets/pointer.png"), pointer;
}