.loading-screen {
    background: linear-gradient(to bottom, rgb(138, 255, 92), rgb(49, 156, 255));
}

.loadingText {
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
    margin-top: 10px;
}

.circular-progress {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: conic-gradient(#00f7ff var(--percentage), #e0e0e0 0);
}

.circular-progress::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    background: white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}