.end-screen-title
{
    position: absolute;

    font-size: 4.8rem;
    left: 3%;
    top: 0%;

    background: linear-gradient(90deg, #00ff80, #7daaff);
    border: #00ff80;
    border-radius: 2px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;

    filter: drop-shadow(3px 3px 1px hsl(0, 0%, 0%));
}

.end-screen-restart-button
{
    box-shadow: inset 1px 39px 16px -12px #9fb4f2;
    background-color: #7892c2;
    border-radius: 10px;
    border: 2px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 22px;
    text-decoration: none;
    text-shadow: 2px 2px 1px #283966;

    position: absolute;
    width: 200px;
    height: 132px;
    left: 27%;
    bottom: 3%;
}

.end-screen-restart-button:hover
{
    background-color: #476e9e;
    position: absolute;
    transform: scale(0.95);

    cursor: url("../../imgs/pointer.png"), pointer;
}

.end-screen-restart-button:active
{
    position: absolute;
    bottom: 2%;
}

.end-screen-points
{
    position: absolute;
    font-size: 2.5rem;
    top: 30%;
    left: 3%;


    background: linear-gradient(90deg, #00ff80, #7daaff);
    border: #00ff80;
    border-radius: 2px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;

    filter: drop-shadow(2px 2px 1px hsl(0, 0%, 8%));
}

.end-screen-city
{
    position: absolute;
    font-size: 2.5rem;
    top: 20%;
    left: 3%;

    background: linear-gradient(90deg, #00ff80, #7daaff);
    border: #00ff80;
    border-radius: 2px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;

    filter: drop-shadow(2px 2px 1px hsl(0, 0%, 8%));
}

.end-screen-author-container
{
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    font-family: Arial, sans-serif;
    max-width: 300px;
}

.author-title
{
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
    color: #00ff80;
}

.author
{
    margin-bottom: 10px;
    cursor: pointer;
}

.author p
{
    margin: 0;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.author:hover p
{
    color: #00ff80;
    cursor: url("../../imgs/pointer.png"), pointer;
}

.end-screen-time{
    position: absolute;
    font-size: 2.5rem;
    top: 40%;
    left: 3%;

    background: linear-gradient(90deg, #00ff80, #7daaff);
    border: #00ff80;
    border-radius: 2px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;

    filter: drop-shadow(2px 2px 1px hsl(0, 0%, 8%));
}

.end-screen-hint-container {
    position: absolute;
    right: 1%;
    bottom: 1%;
    color: #fff;
    border: 3px solid white;
    border-radius: 5px;
    width: 290px;
    height: 290px;
    text-align: center;
    justify-content: center;
    overflow-y: auto;
}

.end-screen-hint-container h3 {
    font-size: 2rem;
    margin-top: 0.5rem;
    text-decoration: underline;
}